extends layout

block content
	core-drawer-panel(responsiveWidth="5000px", rightDrawer="true", disableSwipe="true;")
		div.drawer(drawer)
		div(main)
			core-scroll-header-panel(noDissolve='true', noReveal='true')
				core-toolbar.tall
					div(flex='flex')
					core-icon-button(icon='drawer', onclick="document.querySelector('core-drawer-panel').togglePanel();")
					.bottom.indent.title Alexander Afzelius Puccini
				.content
					.section(style="height: 1000px;")