extends layout

block content
	script(type='text/javascript', src='//use.typekit.net/qqh1pgl.js')
	script(type='text/javascript')
			try{Typekit.load();}catch(e){}
	.wrapper
		nav(role='navigation')
			ul
				li
					|Alexander Afzelius Puccini
		.features
			article
				a(href='#')
					h3 Alexander Afzelius Puccini
					.thumbnail(style='background-image: url(/images/selfie.jpg);')
			article
				a(href='#')
					h3 Resumé
					.thumbnail(style='background-image: url(http://blog.ieeekeralagold.org/wp-content/uploads/2014/04/Resume_page-bg_17778.jpg);')
			article
				a(href='#')
					h3 Tidigare projekt
					.thumbnail(style='background-image: url(http://www.uptimegroup.be/wp-content/uploads/2014/06/project-manager.jpg);')
			article
				a(href='#')
					h3 Blogg
					.thumbnail(style='background-image: url(http://www.bloggvarlden.com/wp-content/uploads/2012/09/sluta-klaga-p%C3%A5-bloggare.jpeg);')
			article
				a(href='#')
					h3 Kontakt
					.thumbnail(style='background-image: url(http://www.noniab.se/wp-content/uploads/2014/04/Contact.jpg);')
			article
				a(href='#')
					h3 You won't believe what just happened.
					.thumbnail(style='background-image: url(http://placepuppy.it/500/600);')
			article
				a(href='#')
					h3 I haven't seen my left hand in five days.
					.thumbnail(style='background-image: url(http://placekitten.com/400/300);')
		p
			| This is a pure-CSS, responsive implementation of a
			a(href='http://theverge.com') Verge-style homepage tile layout
			| .
		p
			| At the smallest view, each article is block-level. They then split into inline-block and are given a min-height. At the largest view, they move to a floated block layout and are given widths and min-heights. The last one has to be positioned absolutely.

