extends layout

block content
	core-drawer-panel(responsiveWidth="5000px")
		div.drawer(drawer)
		div(main)
			core-scroll-header-panel(condenses='condenses')
				core-toolbar.tall
					div(flex='flex')
					core-icon-button(icon='drawer', onclick="document.querySelector('core-drawer-panel').togglePanel();")
					.bottom.indent.title Alexander Afzelius Puccini
				.content(style="color:#eee;")
					h1
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida non arcu vel imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ac magna volutpat, venenatis est sit amet, aliquet augue. Pellentesque massa dui, viverra quis venenatis vitae, ultricies ut turpis. Vivamus vehicula erat et massa tempus dictum. Pellentesque magna mi, consequat eu sollicitudin vitae, volutpat vitae metus. Ut eget nisl posuere, ullamcorper nisl ac, rhoncus sem. Integer at metus consequat, efficitur nunc ac, sagittis felis. Cras elementum dapibus venenatis.

						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida non arcu vel imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ac magna volutpat, venenatis est sit amet, aliquet augue. Pellentesque massa dui, viverra quis venenatis vitae, ultricies ut turpis. Vivamus vehicula erat et massa tempus dictum. Pellentesque magna mi, consequat eu sollicitudin vitae, volutpat vitae metus. Ut eget nisl posuere, ullamcorper nisl ac, rhoncus sem. Integer at metus consequat, efficitur nunc ac, sagittis felis. Cras elementum dapibus venenatis.
					h1
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida non arcu vel imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ac magna volutpat, venenatis est sit amet, aliquet augue. Pellentesque massa dui, viverra quis venenatis vitae, ultricies ut turpis. Vivamus vehicula erat et massa tempus dictum. Pellentesque magna mi, consequat eu sollicitudin vitae, volutpat vitae metus. Ut eget nisl posuere, ullamcorper nisl ac, rhoncus sem. Integer at metus consequat, efficitur nunc ac, sagittis felis. Cras elementum dapibus venenatis.

						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida non arcu vel imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ac magna volutpat, venenatis est sit amet, aliquet augue. Pellentesque massa dui, viverra quis venenatis vitae, ultricies ut turpis. Vivamus vehicula erat et massa tempus dictum. Pellentesque magna mi, consequat eu sollicitudin vitae, volutpat vitae metus. Ut eget nisl posuere, ullamcorper nisl ac, rhoncus sem. Integer at metus consequat, efficitur nunc ac, sagittis felis. Cras elementum dapibus venenatis.
					h1
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida non arcu vel imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ac magna volutpat, venenatis est sit amet, aliquet augue. Pellentesque massa dui, viverra quis venenatis vitae, ultricies ut turpis. Vivamus vehicula erat et massa tempus dictum. Pellentesque magna mi, consequat eu sollicitudin vitae, volutpat vitae metus. Ut eget nisl posuere, ullamcorper nisl ac, rhoncus sem. Integer at metus consequat, efficitur nunc ac, sagittis felis. Cras elementum dapibus venenatis.

						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida non arcu vel imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ac magna volutpat, venenatis est sit amet, aliquet augue. Pellentesque massa dui, viverra quis venenatis vitae, ultricies ut turpis. Vivamus vehicula erat et massa tempus dictum. Pellentesque magna mi, consequat eu sollicitudin vitae, volutpat vitae metus. Ut eget nisl posuere, ullamcorper nisl ac, rhoncus sem. Integer at metus consequat, efficitur nunc ac, sagittis felis. Cras elementum dapibus venenatis.
					h1
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida non arcu vel imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ac magna volutpat, venenatis est sit amet, aliquet augue. Pellentesque massa dui, viverra quis venenatis vitae, ultricies ut turpis. Vivamus vehicula erat et massa tempus dictum. Pellentesque magna mi, consequat eu sollicitudin vitae, volutpat vitae metus. Ut eget nisl posuere, ullamcorper nisl ac, rhoncus sem. Integer at metus consequat, efficitur nunc ac, sagittis felis. Cras elementum dapibus venenatis.

						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida non arcu vel imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ac magna volutpat, venenatis est sit amet, aliquet augue. Pellentesque massa dui, viverra quis venenatis vitae, ultricies ut turpis. Vivamus vehicula erat et massa tempus dictum. Pellentesque magna mi, consequat eu sollicitudin vitae, volutpat vitae metus. Ut eget nisl posuere, ullamcorper nisl ac, rhoncus sem. Integer at metus consequat, efficitur nunc ac, sagittis felis. Cras elementum dapibus venenatis.
					h1
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida non arcu vel imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ac magna volutpat, venenatis est sit amet, aliquet augue. Pellentesque massa dui, viverra quis venenatis vitae, ultricies ut turpis. Vivamus vehicula erat et massa tempus dictum. Pellentesque magna mi, consequat eu sollicitudin vitae, volutpat vitae metus. Ut eget nisl posuere, ullamcorper nisl ac, rhoncus sem. Integer at metus consequat, efficitur nunc ac, sagittis felis. Cras elementum dapibus venenatis.

						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida non arcu vel imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ac magna volutpat, venenatis est sit amet, aliquet augue. Pellentesque massa dui, viverra quis venenatis vitae, ultricies ut turpis. Vivamus vehicula erat et massa tempus dictum. Pellentesque magna mi, consequat eu sollicitudin vitae, volutpat vitae metus. Ut eget nisl posuere, ullamcorper nisl ac, rhoncus sem. Integer at metus consequat, efficitur nunc ac, sagittis felis. Cras elementum dapibus venenatis.
	script.
		var titleStyle = document.querySelector('.title').style;addEventListener('core-header-transform', function(e) {var d = e.detail;var m = d.height - d.condensedHeight;var scale = Math.max(0.75, (m - d.y) / (m / 0.25)  + 0.75);titleStyle.transform = titleStyle.webkitTransform = 'scale(' + scale + ') translateZ(0)';});
	


