extends layout

block content
	script(type='text/javascript', src='//use.typekit.net/qqh1pgl.js')
	script(type='text/javascript')
			try{Typekit.load();}catch(e){}
	.wrapper
		nav(role='navigation')
			ul
				li
					|Alexander Afzelius Puccini
		.features
			article
				a(href='#')
					h3 Alexander Afzelius Puccini
					p.meta
						| Vem är Jag?
					.thumbnail(style='background-image: url(/images/selfie.jpg);')
					.thumbnailGradient
			article
				a(href='#')
					h3 Anställningar
					p.meta
							| Min arbetserfarenhet.
					.thumbnail(style='background-image: url(http://blog.ieeekeralagold.org/wp-content/uploads/2014/04/Resume_page-bg_17778.jpg);')
					.thumbnailGradient
			article
				a(href='#')
					h3 Tidigare projekt
					p.meta
							| Vad har jag skapat?
					.thumbnail(style='background-image: url(http://www.uptimegroup.be/wp-content/uploads/2014/06/project-manager.jpg);')
					.thumbnailGradient
			article
				a(href='#')
					h3 Blogg
					p.meta
							| Här bloggas det om allt möjligt.
					.thumbnail(style='background-image: url(http://www.bloggvarlden.com/wp-content/uploads/2012/09/sluta-klaga-p%C3%A5-bloggare.jpeg);')
					.thumbnailGradient
			article
				a(href='#')
					h3 Kontakt
					p.meta
							| Så här får man tag på mig.
					.thumbnail(style='background-image: url(http://www.noniab.se/wp-content/uploads/2014/04/Contact.jpg);')
					.thumbnailGradient
			article
				a(href='#')
					h3 Utbildningar
					p.meta
							| Det här har jag lärt mig.
					.thumbnail(style='background-image: url(http://i.telegraph.co.uk/multimedia/archive/02511/school-classroom_2511962b.jpg);')
					.thumbnailGradient
			article
				a(href='#')
					h3 Fristående kurser
					p.meta
						| By Josh Larson
					.thumbnail(style='background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ0zLMJ2OPPHp31Ubg3B8JN0UxmQh7NRCTo3Cixtpzj8Z8oZzfWHQ);')
					.thumbnailGradient
		nav.footer
			ul
				li



