extends layout

block content

			.section
				.container
					.row
						.col-md-4
							.personal-card
								.personal-card-header
								.personal-card-body
									img(src='http://chriswiggins.co/img/profile_avatar.jpg')
									.name Chris Wiggins
									.description Front-end developer, ice hockey goalie, not a father
									.location Washington DC
						.col-md-4
							div.card
								div.card__media
									img.card__media--image(src='http://theselfemployed.com/wp-content/uploads/2012/04/bigstock_Young_business_people_meeting__12552560.jpg', alt='')
									h3.card__headline Tidigare anställningar
								div.card__body
									p
										| Material Design really is nice and I can't wait to see it on my Android Device! These amazing dummy-images are taken from
										a(href='http://unsplash.com/') http://unsplash.com/
										| .
								footer.card__footer
						.col-md-4
							div.card
								div.card__media
									img.card__media--image(src='http://macro-training.ro/wp-content/uploads/2013/09/project_management.jpg', alt='')
									h3.card__headline Tidigare projekt
								div.card__body
									p
										| Material Design really is nice and I can't wait to see it on my Android Device! These amazing dummy-images are taken from
										a(href='http://unsplash.com/') http://unsplash.com/
										| .
								footer.card__footer
					.row
						.col-md-4
							div.card
								div.card__media
									img.card__media--image(src='http://www.aiche.org/sites/default/files/styles/aiche_content/public/images/overview_page/global_contact-us-iStk.jpg', alt='')
									h3.card__headline Kontakt
								div.card__body
									p
										| Material Design really is nice and I can't wait to see it on my Android Device! These amazing dummy-images are taken from
										a(href='http://unsplash.com/') http://unsplash.com/
										| .
								footer.card__footer
						.col-md-4
							div.card
								div.card__media
									img.card__media--image(src='http://i.telegraph.co.uk/multimedia/archive/02511/school-classroom_2511962b.jpg', alt='')
									h3.card__headline Utbildning
								div.card__body
									p
										| Material Design really is nice and I can't wait to see it on my Android Device! These amazing dummy-images are taken from
										a(href='http://unsplash.com/') http://unsplash.com/
										| .
								footer.card__footer
						.col-md-4
							div.card
								div.card__media
									img.card__media--image(src='http://www.bloggvarlden.com/wp-content/uploads/2012/09/sluta-klaga-p%C3%A5-bloggare.jpeg', alt='')
									h3.card__headline Blogg
								div.card__body
									p
										| Material Design really is nice and I can't wait to see it on my Android Device! These amazing dummy-images are taken from
										a(href='http://unsplash.com/') http://unsplash.com/
										| .
								footer.card__footer
					.col-md-4
							div.card
								div.card__media
									img.card__media--image(src='http://www.bloggvarlden.com/wp-content/uploads/2012/09/sluta-klaga-p%C3%A5-bloggare.jpeg', alt='')
									h3.card__headline Blogg
								div.card__body
									p
										| Material Design really is nice and I can't wait to see it on my Android Device! These amazing dummy-images are taken from
										a(href='http://unsplash.com/') http://unsplash.com/
										| .
								footer.card__footer
			.section(style="height:800px;")
	script.
		var titleStyle = document.querySelector('.title').style;addEventListener('core-header-transform', function(e) {var d = e.detail;var m = d.height - d.condensedHeight;var scale = Math.max(0.75, (m - d.y) / (m / 0.25)  + 0.75);titleStyle.transform = titleStyle.webkitTransform = 'scale(' + scale + ') translateZ(0)';});
	


