body {
  background: #eee;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

h1,h2,h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}

core-scroll-header-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

core-toolbar {
  color: #f1f1f1;
  fill: #f1f1f1;
  background-color: transparent;
  height: 240px;
}

.indexHeader::shadow #headerBg{
  background-image: url("/images/selfie2PartColor.jpg");
}

/* background for toolbar when it is condensed */
  core-scroll-header-panel::shadow #condensedHeaderBg {
  background-color: rgba(0, 0, 0, 0.7);
}

/*Cards*/
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}


h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}

.card {
  max-width: 30em;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19), 0 8px 17px rgba(0, 0, 0, 0.2);
  background: #fff;
  margin-top: 2em;
  border-color: #eee;
}

.card__headline {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: #fff;
  font-size: 36px;
}

.card__media {
  position: relative;
}

.card__media--image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;


}

.card__body {
  padding: 1em;
  border: 1px solid #e0e0e0;
  border-top: none;
}


/*Media Queries*/

@media only screen and (min-width : 800px) {

  core-toolbar {
    height: 400px;
  }

  .indexHeader::shadow #headerBg{
    background-image: url("/images/selfie2PartColor2.jpg");
  }

}