html, body {
      height: 100%;
    }

    body {
      margin: 0;
      font-family: sans-serif;
      color: #5f5f5f;
      background-color: #eee;
      font-family: roboto-regular;
      font-size: 14px;
    }

    @font-face {
    font-family: roboto-condensed-light;
    src: url(/fonts/RobotoCondensed-Light.ttf);
  }

  @font-face {
    font-family: roboto-regular;
    src: url(/fonts/Roboto-Regular.ttf);
  }

    core-scroll-header-panel {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

    }
    
    /* background for toolbar when it is at its full size */
      core-scroll-header-panel::shadow #headerBg {
      background-image: url("/images/hero9.jpg");
    }
    
    /* background for toolbar when it is condensed */
    
    
    core-toolbar {
      color: #f1f1f1;
      fill: #f1f1f1;
      background-color: transparent;
    }

    h1 {
      color: #252525;
    }

    .test p {
      color: #252525;
      font-size: 14px;
      border-bottom: solid;
      border-width: 1px;
      border-color: #e1e1e1;
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: 'PT Sans Narrow', sans-serif !important;
    }

/*    .drawer{
      background-color: #eee;
    }*/

    .tall{
      height: 550px;
    }
    

    .title {
      -webkit-transform-origin: 0;
      transform-origin: 0;
      font-size: 60px;
      font-family: roboto-condensed-light;
      color: white;
    }
    
    /*.content {
      padding: 10px 30px;
    }*/

   .section-profile{
    margin-top: 75px;
    padding-right: 15px;
    padding-left: 15px;
   }

  .section-projects{
    margin-top: 75px;
   }



   .profile-title {
      font-family: 'Oswald', sans-serif !important;
      color: #252525;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 18px;
      margin-top: 0px;
   }

   /*CARDS*/


.panel {
margin-bottom: 20px;
background-color: #fff;
border: 1px solid transparent;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);

}

.well, .panel {
border-color: #d2d2d2 !important;
box-shadow: 0 1px 0 #cfcfcf !important;
border-radius: 3px !important;
}

.panel-default{
  border-color: #ddd;
  border-radius: 3px;
}

.panel .btn i,.btn span{
 color:#666666;
}
.panel .panel-heading {
 background-color:#ffffff;
 font-weight:700;
 font-size:16px;
 color:#262626;
 border-color:#ffffff;
}
.panel .panel-heading a {
 font-weight:400;
 font-size:11px;
}
.panel .panel-default {
 border-color:#cccccc;
}
.panel .panel-thumbnail {
 padding:0;
}

.profile-body{
  background-color: white;
  padding: 15px;
}



.btn,.form-control,.panel,.list-group,.well {border-radius:1px;box-shadow:0 0 0;}

    @media only screen and (max-width : 560px) {
      .title {
      -webkit-transform-origin: 0;
      transform-origin: 0;
      font-size: 30px;
      font-family: 'Marck Script', cursive;
      color: white;
      }
      .bottom.indent{
      margin-left: 20px !important;
      }
      .tall{
      height: 250px;
      }
    }

      @media only screen and (max-width : 420px) {
      .title {
      -webkit-transform-origin: 0;
      transform-origin: 0;
      font-size: 30px;
      }
    }

    @media only screen and (max-width: 380px){
    .bottom.indent{
      margin-left: 0px !important;
      margin-right: 0px !important;
      }
      .title {
      -webkit-transform-origin: 0;
      transform-origin: 0;
      font-size: 25px;
      }
    }



